sudo: false
language: node_js
node_js:
  - 8
  - 9
  - 10
  - 11
cache:
  directories:
  - node_modules
before_script:
  - npm prune
script:
  - npm run lint
  - npm run test:ci
after_script:
  - npm install codecov
  - ./node_modules/.bin/codecov